TELEGRAM_BOT_TOKEN_SINGLE=your_single_bot_token_here
TELEGRAM_WEB_APP_URL_SINGLE=https://your-github-username.github.io/HPS-Souvenir-Program-Single/

TELEGRAM_BOT_TOKEN_MIXED=your_mixed_bot_token_here
TELEGRAM_WEB_APP_URL_MIXED=https://your-github-username.github.io/HPS-Souvenir-Program-Mixed/
